@import 'tailwindcss';

@font-face {
	font-family: 'SF Pro Display';
	src: url($lib/fonts/SF-Pro-Display-Regular.otf);
	font-weight: 400;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

:root {
	--background-color: #0d0d0d;
	--border-color: #252525;
	--text-color: #fff;
	--font-size: 0.875rem;
	--padding: 12px;
	--button-padding: 8px 10px;
	--border-radius: 8px;

	--header-height: 55px;

	--sidebar-width: 250px;
	--sidebar-background-color: #0d0d0d;

	--sidebar-group-padding: 15px 0px;
	--sidebar-group-label-padding: 6px 20px;
	--sidebar-group-label-font-size: 0.75rem;
	--sidebar-group-label-color: #fff6;

	--sidebar-groups-gap: 0px;
	--sidebar-group-items-gap: 2px;

	--sidebar-group-item-inline-gap: 10px;
	--sidebar-group-item-hover-background-color: #1a1a1b;
	--sidebar-group-item-active-background-color: #1a1a1b;
	--sidebar-group-item-padding: 6px 20px;
	--sidebar-group-item-border-radius: 0px;

	--sidebar-header-height: 55px;
	--sidebar-header-padding: 18px 18px;

	--sidebar-footer-height: 50px;
	--sidebar-footer-padding: 20px 18px;

	--select-background-color: #0d0d0d;
	--select-hover-background-color: #121212;
	--select-border-color: #f5f5f52b;
	--select-placeholder-color: #8b8b8b;
	--select-padding: 8px 10px;
	--select-inline-gap: 8px;
	--select-border-radius: 8px;

	--select-content-background-color: #0d0d0d;
	--select-content-border-color: #f5f5f52b;
	--select-content-border-radius: 8px;

	--header-padding: 24px;

	--icon-button-border-radius: 8px;
	--icon-button-padding: 8px;
	--icon-button-icon-size: 15px;
	--icon-button-border-color: #252525;
	--icon-button-hover-background-color: #1a1a1b;
}

[data-select-trigger] {
	display: flex;
	place-items: center;

	padding: var(--select-padding);
	gap: var(--select-inline-gap);

	svg:last-child {
		margin-left: auto;
	}

	background-color: var(--select-background-color);
	border: 1px solid var(--select-border-color);
	border-radius: var(--select-border-radius);
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;

	&:hover {
		background-color: var(--select-hover-background-color);
	}
}

[data-placeholder] {
	color: var(--select-placeholder-color);
}

[data-select-content] {
	display: flex;
	flex-direction: column;

	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid var(--select-content-border-color);
	background-color: var(--select-content-background-color);
	border-radius: var(--select-content-border-radius);
	width: var(--bits-select-anchor-width);
	padding: 2px;
}

[data-separator-root] {
	border-top: 1px solid var(--border-color);
}
