@import 'tailwindcss';

@theme {
	--color-surface: #1d1f1f;
	--color-border: #ffffff1a;
	--color-primary: #ffffff;
	--color-secondary: #a5a5a5;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #ffffff1a transparent;
}
