@font-face{
    font-family: 'Inter Variable';
    src: url('/fonts/InterVariable.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-style: normal;
    font-family: 'Inter Variable', sans-serif;
    line-height: normal;
}

:root {
    --main-background-color: #101011;
    --secondary-background-color: #090909;
    --border-color: #24252a;
    --button-hover-background-color: #1e1f23;
    --main-text-color: #e3e4e5;
    --secondary-text-color: #97979a;
    --sidebar-icon-fill: #949597;
    --input-background-color: #17181a;
}

body {
    min-height: 100vh;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    display: grid;
    
    grid-template-areas: 
        "leftbar header rightbar"
        "leftbar main rightbar"
        "leftbar footer rightbar";

    grid-template-columns: 250px 1fr auto;
    grid-template-rows: 50px 1fr auto;
}

button {
    cursor: pointer;
}


